@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');

body {
    font-family: 'Pirata One', cursive;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #F1E1C6;
    background-color: #f4e1d2;
    background-image: url('bing1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header {
    background-color: #6a4e23;
    color: #F1E1C6;
    text-align: center;
    padding: 20px;
    font-family: 'Pirata One', cursive;
}

h2 {
    margin: 0;
    color: #C88A3B;
    font-family: 'Pirata One', cursive;
}

h2 {
    margin-top: 10px;
    font-size: 24px;
}

p {
    margin: 0;
    color: #C88A3B;
    font-family: 'Pirata One', cursive;
}

main {
    padding: 20px;
}

.container {
    padding: 30px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    border: 2px solid #d1b28a;
    border-radius: 15px;
    max-height: 510px;
    max-width: 400px;
    text-align: center;
    color: #F1E1C6; 
}

.welcome {
    font-size: 48px;
    margin-bottom: 15px;
    color: #C88A3B;
    text-shadow: 2px 2px 4px #000;
}

.detail {
    font-size: 20px;
    font-style: italic;
    margin-bottom: 20px;
    color: #f6b867;
    text-shadow: 2px 2px 4px #000;
}

.buttons {
    margin-top: 20px;
    display: flex;
    flex-direction: column; 
    align-items: center;    
    gap: 10px;              
}

.button {
    text-decoration: none;
    padding: 12px 25px;
    margin: 10px;
    font-size: 20px;
    color: #F1E1C6; 
    background: #6a4e23;
    border: 2px solid #d1b28a;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.2s, background-color 0.3s;
    cursor: pointer;
    width: 100%; 
    max-width: 300px; 
}

.button:hover {
    background-color: #5a3b1a; 
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.7);
}

.button:active {
    transform: scale(1.02);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

footer {
    background-color: #6a4e23;
    color: #F1E1C6;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-family: 'Pirata One', cursive;
}

.card {
    background-color: transparent;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    border: 2px solid #d1b28a;
    text-align: center;
    color: #F1E1C6;
}

#question {
    font-size: 36px;
    margin-bottom: 20px;
    font-family: 'Pirata One', cursive;
    color: #C88A3B;
}

#answers button {
    display: block;
    margin: 15px auto;
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
    background: #6a4e23;
    font-family: 'Pirata One', cursive;
    color: #F1E1C6;
    cursor: pointer;
    font-size: 20px;
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

#answers button:hover {
    background: #5a3b1a;
    transform: translateY(-3px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

#answers button:active {
    transform: translateY(0);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
